body *{
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,255, 0.1);

}

.inicio{
    background-color: rgb(210,210,230);
    padding-top: 120px;

}

.servicos{
    background-color: rgb(128,147,158);
    color:white; 
    padding-top: 80px;
}
footer{
    background-color: #4684c1;
}
footer a{
    color: yellow;
}
footer a:hover{
    color:white
}
/* .linhaI{
    border: 1px solid red;
    
}
 */

