.inicio{
    background-color: rgb(210,210,230);
    padding-top: 120px;

}

.servicos{
    background-color: rgb(128,147,158);
    color:white; 
    padding-top: 80px;
}

.linhaI{
    border: 1px solid red;
    
}
   

